streamlit
python-dotenv
requests
numpy
pandas
yt-dlp
pydub
groq
langchain
langchain-core
langchain-community
langchain-google-genai
langchain-mistralai
langchain-chroma
sentence-transformers
chromadb
torch
torchvision
google-generativeai
fpdf2